services:
  postgres_db:
    image: postgres:15
    container_name: gm_postgres_new
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data

  neo4j_db:
    image: neo4j:5.12
    container_name: gm_neo4j_new
    env_file:
      - .env
    environment:
      NEO4J_AUTH: ${NEO4J_AUTH}
    ports:
      - "7474:7474"
      - "7687:7687"
    restart: unless-stopped
    volumes:
      - neo4j_data:/data

volumes:
  postgres_data:
  neo4j_data:
